.AudienceSelect {
  height: 476px;
}

.AudienceOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 8px;
  cursor: pointer;
  background: white;
  border-radius: 8px;
}

.AudienceOption:not(.selected):hover {
  filter: brightness(93%);
  -webkit-filter: brightness(93%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.AudienceOption.selected {
  background: #eaf3ff;
}

.audience-options {
  padding: 16px 0 24px 0;
}

.audience-option-icon-container {
  width: 76px;
  height: 76px;
  /* margin: 0 8px; */
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audience-option-icon-circle {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e6eb;
  border-radius: 100px;
}

.audience-option-icon {
  width: 25px;
  height: 25px;
  margin: auto;
}

.audience-profile-pic {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 30px;
}

.audience-option-text h3, .audience-option-text p {
  margin: 0;
}

.audience-option-text h3 {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.0em;
}

.audience-option-text p {
  color: #606770;
}

.audience-option-select {
  margin-left: auto;
  margin-right: 9px;
}

.audience-friend-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.audience-friend-buttons {
  height: 436px;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.audience-friend-bottom-buttons .Button {
  margin-left: 8px;
}

.audience-friend-bottom-buttons {
  display: flex;
  justify-content: right;
  margin: auto 0;
  margin-right: 8px;
}