/* TODO: Consider updating button styles */

.Button {
  cursor: pointer;
}

.Button.confirm, .Button.cancel {
  line-height: 26px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 2px;
}

.Button.confirm {
  background-color: #4267b2;
  border: 1px solid #4267b2;
  color: #fff;
}

.Button.cancel {
  background-color: #f6f7f9;
  border: 1px solid #ced0d4;
  color: #4b4f56;
}

.Button.disabled {
  background-color: #a9acb1 !important;
  border: 1px solid transparent !important;
}