.Header {
  width: 100%;
  height: 42px;
  background-color: #3b5998;
  box-sizing: border-box;
  border-bottom: 1px solid #29487d;
}

.Header .popup-content {
  color: black;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.Header .popup-header {
  height: 25px;
}

.Header #logo {
  font-size: 24px;
  font-size: 24px;
  padding-left: 65.5px;
  padding-right: 5px;
  margin: 0px;
}

#logo, .header-text {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  vertical-align: middle;
  line-height: 42px;
  display: inline;
  font-weight: bold;
}

#user ul {
  padding-right: 5px;
} 

.header-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  display: inline;
  padding-left: 12px;
}

header .popup-content {
  color: black;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

header .popup-header {
  height: 25px;
}

.profile-pic {
  width: 24px;
  height: 24px;
  position: relative;
  top: 50%;
  transform: translateY(25%);
  border-radius: 50%;
}

#username {
  padding: 0 10px 0 5px;
}

#user {
  float: right;
  padding: 0 202px 0 0;
  display: inline;
  margin: 0;
}

@media (max-width: 1031px) {
  #user {
      visibility: hidden;
  }
}