body {
  padding: inherit;
  width: 100%;
  overflow: auto;
  margin: 0;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #e9ebee;
}

a {
  color: rgb(54, 88, 153);
  text-decoration-line: none;
}

hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  border-color: #e9ebee;
}